* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg.jpg');
  background-size: cover;

  background-repeat: no-repeat;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}
li {
  color: #fff;
}
